<section class="footer">
    <div class="footer-box">
        <h3>Services</h3>
        <a href="#">Email Marketing</a>
        <a href="#">Olive</a>
        <a href="#">Branding</a>
        <a href="#">Offline</a>
    </div>

    <div class="footer-box">
        <h3>About</h3>
        <a href="#">Our story</a>
        <a href="#">Benefits</a>
        <a href="#">team</a>
        <a href="#">Careers</a>
    </div>   
    
    <div class="footer-box">
        <h3>Help</h3>
        <a href="#">FAQs</a>
        <a href="#">Contact us</a>
    </div>            

    <div class="footer-box">
        <h3>Social</h3>
        <div class="social">
          <a href="#"><i class="ri-instagram-fill"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
          <a href="#"><i class="ri-facebook-fill"></i></a>
        </div>
    </div>            
</section>
<!-- copyright -->
<div class="copyright">
    <p>Copyright &copy 2023 Tous droits réservés</p>
</div>