<header class="sticky ">
    <a href="index.html"><img src="images/l1.png" class="logo"></a>

    <ul class="navbar">
        <li><a href="index.html">Home</a></li>
        <li><a href="taille.html" >L'OLIVIER</a></li>
        <li><a href="fruit.html">OLIVES</a></li>
        <li><a href="tourisme.html">TOURISME</a></li>
        <li><a href="#9">LIVRE A LIRE</a></li>
    </ul>

    <div class="h-right">
        <a href="#">Follow us</a>
        <a href="#"><i class="ri-instagram-fill"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>
